<div class="container mt-4">
    <div class="row">
      <h1 class="edittitle">{{book.title}}</h1>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{book.photoUrl}}" alt="{{book.title}}">
          <div class="card-body">
            <div>
              <strong>Author</strong>
              <p>{{book.author}}</p>
            </div>
            <div>
              <strong>Registered</strong>
              <p>{{book.dateAdded}}</p>
            </div>
          </div>
          <div class="card-footer">
            <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset class="member-tabset">
            <tab heading="Edit Book">
              <form #editForm="ngForm" id="editForm" (ngSubmit)="updateBook()"> 
                <h4>Publisher</h4>  
                <input class="form-control" type="text" name="publisher" [(ngModel)]="book.publisher">
                <h4 class="mt-4">Description</h4>
                <textarea name="description" rows="6" class="form-control"
                  [(ngModel)]="book.description"></textarea>
              </form>
            </tab>
            <tab heading="Edit Photos">
              <app-photo-editor [bookId]="book.id" [photos]="book.photos" (getMemberPhotoChange)="updateMainPhoto($event)"></app-photo-editor>
            </tab>
          </tabset>
        </div>
        <div *ngIf="editForm.dirty" class="alert alert-info mt-4">
          <strong>Information: </strong>You have made changes. Any unsaved changes will be lost!
        </div>
      </div>
    </div>
  </div>