<div class="container mt-4">
  <div class="row">
    <div class="col-sm-10">
      <h1>{{book.title}}</h1>
    </div>
    <div class="col-sm-2 align-self-center">
      <button class="btn btn-primary w-100" [routerLink]="['/books/edit/', book.id]" >Edit Book</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{book.photoUrl}}" alt="{{book.title}}">
        <div class="card-body">
          <div>
            <strong>Author</strong>
            <p>{{book.author}}</p>
          </div>
          <div>
            <strong>Publisher</strong>
            <p>{{book.publisher}}</p>
          </div>
          <div>
            <strong>Registered</strong>
            <p>{{book.dateAdded | timeAgo}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Description">
            <p>{{book.description}}</p>
          </tab>
          <tab heading="Photos">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>